*{
    padding: 0px;
    margin: 0px;
}

body,html{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: "Roboto Condensed";
}

#containerr{
    width: 100%;
    height: 100%;
    background-color: #D11149;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.game-box{
    width: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 150) 0px 5px 15px;
    border-radius: 20px;
    font-size: 180px;
    text-align: center;
    display: none;
}

#score-box{
    width: 60%;
    height: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 150) 0px 5px 15px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    padding: 40px;   
}

.score-card{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    flex-direction: column;
   
}

.score-card-head{
    width: 100%;
    border-bottom: 1px solid grey;
    font-size: 22px;
    font-family: "Roboto Condensed";
    font-weight: 900;
    padding: 10px 0px 30px 0px;
}

.score-card-body-1 {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.score-card-body-1 input{
    width: 80%;
    padding: 10px 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid grey;
}

.register-card-1{
    width: 50%;
}

.register-card-2{
    width: 50%;
}

.score-card-body-2{
    text-align: start;
    width: 100%;
    height: 80%;
    display: none;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    font-size: 15px;
}

.score-card-body-2 p{
    margin: 20px 0px;
}

.score-card-submit {
  appearance: button;
  background-color: #3454D1;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto Condensed";
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  outline: none;
  overflow: visible;
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 90%;
  margin: 10px 0px 10px 0px;
}

.score-card-submit:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.score-card-submit:main,
.score-card-submit:focus {
  user-select: auto;
}

.score-card-submit:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.score-card-submit:disabled {
  cursor: auto;
}

.score-card-submit:active {
  border-width: 4px 0 0;
  background: none;
}

.player-name{
    font-size: 30px;
    font-family:"Roboto Condensed";
    font-weight: 100;
}

.cells{
    width: 196px;
    height: 196px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* background-color: red; */
}

.border-bottom{
    border-bottom: 2px solid black;
}

.border-left{
    border-left: 2px solid black;
}

.border-right{
    border-right: 2px solid black;
}

.border-top{
    border-top: 2px solid black;
}

@keyframes red-player1 {
    from{
        background-color: #34D1BF;
    }
    to{
        background-color: red;
    }
}

@keyframes red-player2 {
    from{
        background-color: #3454D1;
    }
    to{
        background-color: red;
    }
}