*{
  padding: 0px;
  margin: 0px;
}

html,body{
  height: 100%;
  width: 100%;
}

#root{
  height: 100%;
  width: 100%;
}

.time-box{
  font-size: 220px;
  font-weight: 700;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
}

.date-box{
  font-size: 75px;
  font-weight: 700;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
}

