<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Home</title>
  </head>
  <body>
    <div>
      <h1>Home</h1>
      <a href="addCategory">
        <button type="button">Add Category</button>
      </a>
      <a href="searchCategory">
        <button type="button">Search Category</button>
      </a>
      <br />
      <br />
      <a href="addSubCategory">
        <button type="button">Add SubCategory</button>
      </a>
      <a href="searchSubCategory">
        <button type="button">Search SubCategory</button>
      </a>
      <br />
      <br />
      <a href="addProduct">
        <button type="button">Add Product</button>
      </a>
      <a href="searchProduct">
        <button type="button">Search Product</button>
      </a>
    </div>
  </body>
</html>
