<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="addCategory" method="post">
      <label for="category">Categoery Name : </label>
      <input type="text" name="categoryName" id="category" />
      <br /><br />
      <label for="category-des">Categoery Description : </label>
      <input type="text" name="categoryDes" id="category-des" />
      <br /><br />
      <button type="button">Add category</button>
    </form>
  </body>
</html>
